<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspiraspace.jokulid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".JokulidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".keylogger.softkeyboard.KeyboardService"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <receiver
            android:name=".utils.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".subactivities.DetailTransaction"
            android:label="@string/title_activity_detail_transaction"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.AddTransactionActivity"
            android:label="@string/title_activity_create_transaction"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.TemplateActivity"
            android:label="@string/title_activity_template"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.AutoTextActivity"
            android:label="@string/title_activity_auto_text"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.AddAutoTextActivity"
            android:label="@string/title_activity_auto_text"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.DetailShopActivity"
            android:label="@string/title_activity_detail_shop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.DetailUserActivity"
            android:label="@string/title_activity_detail_user"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.DefaultShippmentOriginActivity"
            android:label="@string/title_activity_default_shippment_origin"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.ShippmentCompanysericeActivity"
            android:label="@string/title_activity_shippment_companyserice"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.DefaultShippmentWeightActivity"
            android:label="@string/title_activity_default_shippment_weight"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.ScheduleDailyreminderActivity"
            android:label="@string/title_activity_schedule_dailyreminder"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".preenter.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name=".preenter.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name=".subactivities.AddPaymentActivity"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".subactivities.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            />

    </application>

</manifest>